
html {
  scroll-behavior: smooth;
}
.cardImage {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
  padding: 5px;
  padding-bottom: 23px;
  border-radius: 0.8rem;
}

.card-container {
  color: #000;
  background-color: #fff !important;
  border-radius: 8px 8px 8px 8px !important;
  box-shadow: 0rem 0.25rem 0.375rem -0.0625rem #7d9db9, 0rem 0.125rem 0.25rem -0.0625rem #6d8eb9 !important;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transition: transform 1.5s ease, box-shadow 1.5s ease; /* Slow-motion effect on hover */
}
.service-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
  margin: auto;
  max-width: 345px;
  height: 100%;
}

.service-card-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* slider css */

/* .slick-arrow.slick-next:before {
  color: gray !important;
}
.slick-arrow.slick-prev:before {
  color: gray !important;
} */
.slick-slider .slick-track .slick-slide img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  border-radius: 1.6rem !important;
  padding: 0.5rem !important;
}

.slick-slide img:hover {
  transform: scale(1.05) !important;
  transition: transform 0.9s ease-in-out !important;
}
.box-border {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.toast-message-success {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
.toast-message-error{
  background: darkred;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
